<!DOCTYPE HTML>
<html>
<head>
  <title>Workorder PDF</title>
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
</head>
<body style="background: #FFF;padding: 0;margin: 0;">
<div>
  <div class="landscape-page" style="overflow: hidden;height: 720px;">
    <%= form_for([@car, @workorder]) do |f| %>
        <%= render partial: 'workorder', formats: [:html], locals: {f: f} %>
        <div class="reset"></div>
    <% end %>
  </div>
</div>
</body>
</html>

